<section class="about-section">
    <h2 class="about-heading">About Our Firm</h2>
    <div class="about-content">
      <div class="about-left">
        <h4 class="subheading">SAME RESULTS FOR LESS</h4>
        <p>
          Welcome to Gangadin & Company, your trusted paralegal law firm for your Landlord and Tenant Disputes and Small Claims Court in Ontario.
          <br><br>
          Located in Toronto, we are dedicated to providing quality legal services at affordable rates, ensuring access to justice for all.
          <br><br>
          Recognized by the Law Society of Ontario, we uphold the highest standards of ethical conduct and carry error and omissions insurance for your protection.
          <br><br>
          Contact us today for a free consultation and let us help you protect your rights with professionalism and integrity.
        </p>
        <a href="#people" class="desktop-only">
          <button mat-button class="btn-primary">Meet Our Team</button>
        </a>
      </div>
  
      <div class="about-right">
        <div class="info-card">
          <mat-icon>gavel</mat-icon>
          <div class="card-text">
            <h3>LANDLORD AND TENANT DISPUTE</h3>
            <p>
              We specialize in managing all matters related to the landlord and tenant board: N4 notices, N5 unpaid utilities or damages, N12 personal use, N13 renovation. We handle the complexities so you don’t have to.
            </p>
          </div>
        </div>
  
        <div class="info-card">
          <mat-icon>balance</mat-icon>
          <div class="card-text">
            <h3>SMALL CLAIMS COURT</h3>
            <p>
              Whether it’s a contract, renovation, or real estate dispute—we protect your rights and guide you confidently through every step of the process.
            </p>
          </div>
        </div>
  
        <div class="info-card">
          <mat-icon>apartment</mat-icon>
          <div class="card-text">
            <h3>PROPERTY MANAGEMENT</h3>
            <p>
              From legal support to management expertise, we help turn your property into a profitable, stress-free asset with expert care and reduced costs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  