<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-left">
      <img src="assets/logo.jpg" alt="Logo" class="logo" />
    </div>
  
    <div class="nav-desktop">
      <a mat-button *ngFor="let item of navItems">{{ item }}</a>
    </div>
  
    <div class="header-right">
        <button mat-button class="btn-secondary">Book A Consultation</button>

      <button mat-icon-button class="burger-btn" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navItems" (click)="sidenav.close()">{{ item }}</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  