<header class="header-wrapper">
  <mat-toolbar class="header-toolbar" [class.sticky]="isSticky">

    <!-- Left: Logo -->
    <div class="logo-container" routerLink="/" style="cursor: pointer;">
      <img src="assets/logoactual.svg" alt="Logo" class="logo" />
      <span class="logo-text ">
        <span>Gangadin &</span>
        <span>Company Legal</span>
        <span>Services</span>
      </span>

    </div>

    <!-- Center: Nav Links (Desktop Only) -->
    <nav class="nav-links desktop-only">
      <a mat-button href="#about">About Us</a>
      <a mat-button href="#people">Our People</a>
      <a mat-button href="#services">Services</a>
      <a mat-button href="#expertise">Areas Of Expertise</a>
      <a mat-button href="#booking">Booking</a>
      <a mat-button href="#footer">Contact</a>
    </nav>

    <!-- Right: Button (Desktop), Burger (Mobile) -->
    <div class="right-actions">
      <a href="#booking" class="desktop-only">
        <button mat-button class="btn-primary">Book A Consultation</button>
      </a>
      <div class="mobile-menu-button">
        <button mat-icon-button (click)="toggleSidenav()">
          <div class="burger-icon" [class.open]="isMenuOpen" >
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <!-- Mobile Sidenav -->
  <mat-sidenav-container class="mobile-sidenav-container">
    <mat-sidenav #sidenav mode="over" position="start" [opened]="isMenuOpen" (closedStart)="isMenuOpen = false" >
    
   

      <nav class="mobile-menu">
        <!-- <button class="close-button" (click)="sidenav.close(); isMenuOpen = false">×</button> -->
        <a mat-button href="#about" (click)="sidenav.close(); isMenuOpen = false">About Us</a>
        <a mat-button href="#expertise" (click)="sidenav.close(); isMenuOpen = false">Expertise</a>
        <a mat-button href="#services" (click)="sidenav.close(); isMenuOpen = false">Services</a>
        <a mat-button href="#booking" (click)="sidenav.close(); isMenuOpen = false">Booking</a>
        <a mat-button href="#footer" (click)="sidenav.close(); isMenuOpen = false">Contact</a>
        <button mat-button class="btn-primary">Book A Consultation</button>
      </nav>
    </mat-sidenav>
  </mat-sidenav-container>
</header>

