<section class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <h1>Same Results For Less</h1>
        <p>Defending Your Rights, Protecting Your Investments In Ontario.</p>
        <div class="hero-buttons">
          <button mat-button class="btn-secondary">
            <mat-icon>call</mat-icon> 333 333 333
          </button>
          <button mat-button class="btn-primary">
            <mat-icon>email</mat-icon> Contact Us
          </button>
        </div>
      </div>
    </div>
  </section>
  