<!-- <app-hero></app-hero>
<app-about></app-about>
<app-our-people></app-our-people>
<app-expertise></app-expertise>
<app-services></app-services>
<app-booking></app-booking> -->

<!-- <app-header></app-header> -->

<section id="hero"><app-hero></app-hero></section>
<section id="about"><app-about></app-about></section>
<section id="people"><app-our-people></app-our-people></section>
<section id="expertise"><app-expertise></app-expertise></section>
<section id="services"><app-services></app-services></section>
<section id="booking"><app-booking></app-booking></section>
<section id="reviews"><app-reviews></app-reviews></section>

<!-- <section id="footer"><app-footer></app-footer></section> -->